swagger: "2.0"
info:
  description: "OrderEase RESTful API"
  version: "1.0"
  title: "OrderEase API"
host: "orderease.ml"
basePath: "/v1"


# API
schemes:
- "https"
paths:
  # CUser
  /cuser/session:
    post:
      tags:
      - "cuser"
      summary: "2C: 顾客登出"
      parameters: 
      - in: "body"
        name: "body"
        description: "user info for login"
        required: true
        schema:
          type: object
          properties:
            username: 
              type: string
              example: "simpleUsername"
      responses:
        200:
          description: "successfully login"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Successfully login."
        404:
          description: "restaurant id not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Restaurant not found."

    put:
      tags:
      - "cuser"
      summary: "2C: 顾客登出"
      responses:
        200:
          description: "successfully logout"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Successfully logout"
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."

  # BUser 
  /buser/:
    post:
      tags:
      - "buser"
      summary: "2B: 新建商家用户"
      parameters: 
      - in: "body"
        name: "body"
        description: "register info"
        required: true
        schema:
          type: object
          properties:
            restId:
              type: string
              example: DDD123
            username: 
              type: string
              example: simpleUsername
            password:
              type: string
              example: naviePassword
            authority:
              type: string
              example: manager
      responses:
        200:
          description: "successfully register"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Successfully register"
        400:
          description: "invalid username or password"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "[error message]"
        404:
          description: "restaurant id not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Restaurant not found."

  /buser/<id>:
    put:
      tags:
      - "buser"
      summary: "2B: 商家改密码"
      parameters: 
      - in: "body"
        name: "body"
        description: "register info"
        required: true
        schema:
          type: object
          properties:
            password:
              type: string
              example: naviePassword
      responses:
        200:
          description: "successfully change password"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Change password successfully."
        400:
          description: "invalid password"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Invalid password."
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."

  /buser/session:
    post:
      tags:
      - "buser"
      summary: "2B: 商家登录"
      parameters: 
      - in: "body"
        name: "body"
        description: "user info for login"
        required: true
        schema:
          type: object
          properties:
            username: 
              type: string
              example: simpleUsername
            restId:
              type: string
              example: DDD123
            password:
              type: string
              example: naviePassword
      responses:
        200:
          description: "successfully login"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Successfully login."
        401:
          description: "invalid username or password"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Invalid username or password."
        404:
          description: "restaurant id not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Restaurant not found."
        
    put:
      tags:
      - "buser"
      summary: "2B: 商家登出"
      responses:
        200:
          description: "successfully logout"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Successfully logout."
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required"

  # Menu
  /menu/<menuid>/dish:
    # Add A New Dish
    post:
      tags:
      - "menu&dish"
      summary: "2B: 在某一菜单下新增一个菜"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Dish object to add into database. Id is not needed"
        required: true
        schema:
          $ref: "#/definitions/Dish"
      responses:
        400:
          description: "Invalid input"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "[error message]"
        200:
          description: "add a new dish successfully"
          schema:
            type: object
            properties:
              dishId:
                type: integer
                example: 3910
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."
        403:
          description: "lack of authority"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Lack of authority."
  
  /menu/<menuid>/dish/category/<cat>:
    get:
      tags:
      - "menu&dish"
      summary: "2B&2C: 获取一个类别的所有菜"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Identifier of the dishes list"
        required: true
        schema:
          # Identifier of the dish
          type: object
          properties:
            category:
              type: string
              example: "荤菜"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              category:
                type: string
                example: "荤菜"
              dishes:
                type: array
                items:
                  $ref: "#/definitions/Dish"
        404:
          description: "category not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Category not found"
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required"
                        
  
  /menu/<menuid>dish/<dishId>:      
    # Get A Specific Info of A Dish
    get:
      tags:
      - "menu&dish"
      summary: "2B&2C: 获取一个菜"
      consumes:
      - "application/json"
      responses:
        200:
          description: "Successful query for dish info"
          schema:
            $ref: "#/definitions/Dish"
        404:
          description: "dish not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Dish not found"
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."

    # Update Info of A Dish
    put:
      tags:
      - "menu&dish"
      summary: "2B: 更新一个菜"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Dish object with update information. Id is not needed"
        required: true
        schema:
          $ref: "#/definitions/Dish"
      responses:
        200:
          description: "Successful update"
        404:
          description: "dish Not Found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Dish not found"
        400:
          description: "Invalid input"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "[error message]"
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required"
        403:
          description: "lack of authority"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Lack of authority."
              
    # DELETE A Dish
    delete:
      tags:
      - "menu&dish"
      summary: "2B: 删除一个菜"
      consumes:
      - "application/json"
      responses:
        200:
          description: "successfully delete"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Successfully delete."
        404:
          description: "dish not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Dish not found."
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."
        403:
          description: "lack of authority"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Lack of authority"
  
  # restaurant information
  /rstr:
    get:
      tags:
      - "rstr"
      summary: "2C: 获取餐馆信息，包括菜单"
      consumes:
      - "application/json"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              id:
                type: string
                example: DDD123
              name:
                type: string
                example: 点都德
              info:
                type: string
                example: Hello, 点都德
              carousel:
                $ref: "#/definitions/Carousel"
              menu:
                $ref: "#/definitions/Menu"
        404:
          description: "restaurant not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Restaurant not found"
  
  /rstr/buser/<userId>:  
    put:
      tags:
      - "rstr"
      summary: "2B: 修改餐馆信息"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Dishes format should be '<dishId>, <dishId>...'"
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
              example: "点都德"
            info:
              type: string
              example: "一个吃饭的地方"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Modify rstr info successfully."
                
  /menu/:  
    post:
      tags:
      - "menu&dish"
      summary: "2B: 给该餐馆新建菜单"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Dishes format should be '<dishId>, <dishId>...'"
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
              example: "春季菜单"
            rank:
              type: integer
              example: 1
            used:
              type: boolean
              example: 1
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Add a new menu successfully"
  
  /menu/<menuId>:    
    put:
      tags:
      - "menu&dish"
      summary: "2B: 给该餐馆修改菜单"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Dishes format should be '<dishId>, <dishId>...'"
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
              example: "春季菜单"
            rank:
              type: integer
              example: 1
            used:
              type: boolean
              example: 1
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Modify a new menu successfully"
        


  # Customer Operation
  /order/cuser/<userId>/:
    post:
      tags:
      - "order"
      summary: "2C: 用户提交订单"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Create a new Order."
        required: true
        schema:
          type: object
          properties:
            tableId:
              type: string
              example: "23E"
            dishes:
              type: string
              example: "1030, 2030"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              orderId:
                type: integer
                example: 4396
        400:
          description: "wrong order"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "[invalid order form message]"
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."
          
  /order/cuser/<userId>/oid/<orderid>:      
    get:
      tags:
      - "order"
      summary: "2C: 用户获取单个订单"
      consumes:
      - "application/json"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/Order"
        404:
          description: "order not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Order not found"
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."

  /order/cuser/<userId>:      
    get:
      tags:
      - "order"
      summary: "2C: 用户获取全部订单"
      consumes:
      - "application/json"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              orders:
                type: array
                items:
                  $ref: "#/definitions/Order"
        404:
          description: "order not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Order not found."
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required and you can only get your own order(s)."

  /order/buser/<userid>/oid/<orderId>:      
    get:
      tags:
      - "order"
      summary: "2B: 商家获取一个订单"
      consumes:
      - "application/json"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/Order"
        404:
          description: "order not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Order not found."
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required and you can only get your own order."

  /order/buser/<userid>:      
    get:
      tags:
      - "order"
      summary: "2B: 商家获取全部订单"
      consumes:
      - "application/json"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              orders:
                type: array
                items:
                  $ref: "#/definitions/Order"
        404:
          description: "order not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Order not found."
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."

  /order/cuser/<cuserId>/oid/<orderId>:
    put:
      tags:
      - "order"
      summary: "2C: 订单付款"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "payment id and the corresponding order id"
        required: true
        schema:
          type: object
          properties:
            payId:
              type: integer
              example: 2200
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Successfully pay."
        404:
          description: "order not found"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Order not found."
        400:
          description: "ayid is wrong, no such payment"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Payid is wrong, no such payment."
        401:
          description: "login required"
          schema:
            type: object
            properties:
              message:
                type: string
                example: "Login required."

# Data Models
definitions:
  Dish:
    type: object
    properties:
      id:
        type: integer
        example: 3910
      name:
        type: string
        example: "毛血旺"
      category:
        type: string
        example: "荤菜"
      rank:
        type: integer
        example: 1
      img:
        type: string
        example: "example.com/maoxuewan.jpg"
      price:
        type: number
        format: "float"
        example: 28.5
      stock:
        type: integer
        format: "int32"
        example: 99
      avaliable:
        type: "boolean"
        example: 1
      likes:
        type: integer
        example: 4
      description:
        type: string
        example: "Hello 毛血旺"
    required:
    - name
    - price

  Menu:
    type: object
    properties:
      id:
        type: integer
        example: 10
      name:
        type: string
        example: "springMenu"
      used:
        type: boolean
        example: 1
      rank:
        type: integer
        example: 1
      content:
        type: array
        items:
          type: object
          properties:
            category:
              type: string
              example: "荤菜"
            dishes:
              type: array
              items:
                $ref: "#/definitions/Dish"
    required:
    - name

  Order:
    type: object
    properties:
      orderId:
        type: integer
        example: 4396
      tableId:
        type: string
        example: "23E"
      total:
        type: number
        format: float
        example: 108.3
      due:
        type: number
        format: float
        example: 92.3
      isPay:
        type: boolean
        example: true
      payWay:
        type: string
        example: alipay
      payDate:
        type: string
        format: date-time
        example: "2017-11-23 16:10:10"
      dishes:
        type: array
        items:
          $ref: "#/definitions/Dish"
  
  Carousel:
    type: array
    items:
      type: object
      properties:
        id:
          type: number
          example: 1
        info:
          type: string
          example: "some info here"
        img:
          type: string
          example: "example.com/1.jpg"