swagger: "2.0"
info:
  description: "OrderEase RESTful API"
  version: "1.0"
  title: "OrderEase API"
host: "orderease.ml"
basePath: "/v1"


# API
schemes:
- "https"
paths:
  # CUser
  /cuser/:
    post:
      tags:
      - "cuser"
      summary: "2C: user login"
      parameters: 
      - in: "body"
        name: "body"
        description: "user info for login"
        required: true
        schema:
          type: object
          properties:
            username: 
              type: string
              example: "simpleUsername"
      responses:
        200:
          description: "successfully login"
        404:
          description: "restaurant id not found"
        
  /cuser/:
    put:
      tags:
      - "cuser"
      summary: "2C: user logout"
      responses:
        200:
          description: "successfully logout"
        401:
          description: "login required"

  # BUser 
  /buser/:
    post:
      tags:
      - "buser"
      summary: "2B: create a new user"
      parameters: 
      - in: "body"
        name: "body"
        description: "register info"
        required: true
        schema:
          type: object
          properties:
            restId:
              type: string
              example: DDD123
            username: 
              type: string
              example: simpleUsername
            password:
              type: string
              example: naviePassword
            authority:
              type: string
              example: manager
      responses:
        200:
          description: "successfully register"
        400:
          description: "invalid username or password"
          schema:
            type: object
            properties:
              error:
                type: string
                enum: ["invalid type or length of username",
                        "username already exist",
                        "invalid type or length of password"]
                example: username already exist
        404:
          description: "restaurant id not found"

  /buser/<id>:
    put:
      tags:
      - "buser"
      summary: "2B: change password"
      parameters: 
      - in: "body"
        name: "body"
        description: "register info"
        required: true
        schema:
          type: object
          properties:
            password:
              type: string
              example: naviePassword
      responses:
        200:
          description: "successfully change password"
        400:
          description: "invalid password"
        401:
          description: "login required"

  /buser/:
    post:
      tags:
      - "buser"
      summary: "2B: user login"
      parameters: 
      - in: "body"
        name: "body"
        description: "user info for login"
        required: true
        schema:
          type: object
          properties:
            username: 
              type: string
              example: simpleUsername
            restId:
              type: string
              example: DDD123
            password:
              type: string
              example: naviePassword
      responses:
        200:
          description: "successfully login"
        401:
          description: "invalid username or password"
        404:
          description: "restaurant id not found"
        
  /buser/:
    put:
      tags:
      - "buser"
      summary: "2B: user logout"
      responses:
        200:
          description: "successfully logout"
        401:
          description: "login required"

  # Dish
  /dish:
    # Add A New Dish
    post:
      tags:
      - "dish"
      summary: "2B: add a new dish"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Dish object to add into database. Id is not needed"
        required: true
        schema:
          $ref: "#/definitions/Dish"
      responses:
        400:
          description: "Invalid input"
          schema:
            type: object
            properties:
              error:
                type: string
                enum: ["dish name is required",
                        "dish name already exist",
                        "price must be lager than 0"]
                example: dish name is required
        200:
          description: "add a new dish successfully"
          schema:
            type: object
            properties:
              dishId:
                type: integer
                example: 3910
        401:
          description: "login required"
        403:
          description: "lack of authority"
  
  /dish/<id>:      
    # Get A Specific Info of A Dish
    get:
      tags:
      - "dish"
      summary: "2B&2C: get info of a dish"
      consumes:
      - "application/json"
      responses:
        200:
          description: "Successful query for dish info"
          schema:
            $ref: "#/definitions/Dish"
        404:
          description: "dish not found"
        401:
          description: "login required"

    # Update Info of A Dish
    put:
      tags:
      - "dish"
      summary: "2B: update info of a dish"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Dish object with update information. Id is not needed"
        required: true
        schema:
          $ref: "#/definitions/Dish"
      responses:
        200:
          description: "Successful update"
        404:
          description: "dish Not Found"
        400:
          description: "Invalid input"
          schema:
            type: object
            properties:
              error:
                type: string
                enum: ["dish name can not be empty",
                        "dish name already exist",
                        "price must be lager than 0"]
                example: dish name can not be empty
        401:
          description: "login required"
        403:
          description: "lack of authority"
              
    # DELETE A Dish
    delete:
      tags:
      - "dish"
      summary: "2B: delete a dish"
      consumes:
      - "application/json"
      responses:
        200:
          description: "successfully delete"
        404:
          description: "dish not found"
        401:
          description: "login required"
        403:
          description: "lack of authority"
        
  # Get Dishes List
  /dishes:
    get:
      tags:
      - "dish"
      summary: "2B&2C: get dishes list for a certain category"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Identifier of the dishes list"
        required: true
        schema:
          # Identifier of the dish
          type: object
          properties:
            category:
              type: string
              example: "荤菜"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              category:
                type: string
                example: "荤菜"
              dishes:
                type: array
                items:
                  $ref: "#/definitions/Dish"
        404:
          description: "category not found"
        401:
          description: "login required"
                        
  # restaurant information
  /rstr/<id>:
    get:
      tags:
      - "rstr"
      summary: "2C: get restaurant info and menu, call it at the beginning"
      consumes:
      - "application/json"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              id:
                type: string
                example: DDD123
              name:
                type: string
                example: 点都德
              info:
                type: string
                example: Hello, 点都德
              menu:
                $ref: "#/definitions/Menu"
        404:
          description: "restaurant not found"


  # Customer Operation
  /order:
    post:
      tags:
      - "order"
      summary: "2C: User place an order"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request identifier of the order. Id is not needed"
        required: true
        schema:
          type: object
          properties:
            tableId:
              type: string
              example: "23E"
            dishes:
              type: array
              items:
                $ref: "#/definitions/Dish"
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              orderId:
                type: integer
                example: 4396
        400:
          description: "wrong order"
        401:
          description: "login required"
  /order/<id>:      
    get:
      tags:
      - "order"
      summary: "2C: User check order's info"
      consumes:
      - "application/json"
      responses:
        200:
          description: OK
          schema:
            $ref: "#/definitions/Order"
        404:
          description: "order not found"
        401:
          description: "login required"

  /pay:
    post:
      tags:
      - "order"
      summary: "2C: call this api after customer pays the pill"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "payment id and the corresponding order id"
        required: true
        schema:
          type: object
          properties:
            payId:
              type: integer
              example: 2200
            orderId:
              type: integer
              example: 4396
      responses:
        200:
          description: OK
        404:
          description: "order not found"
        400:
          description: "payid is wrong, no such payment"
        401:
          description: "login required"

# Data Models
definitions:
  Dish:
    type: object
    properties:
      id:
        type: integer
        example: 3910
      name:
        type: string
        example: "毛血旺"
      category:
        type: string
        example: "荤菜"
      price:
        type: number
        format: "float"
        example: 28.5
      stock:
        type: integer
        format: "int32"
        example: 99
      avaliable:
        type: "boolean"
        example: true
      likes:
        type: integer
        example: 4
      description:
        type: string
        example: "Hello 毛血旺"
    required:
    - name
    - price

  Menu:
    type: object
    properties:
      id:
        type: integer
        example: 10
      name:
        type: string
        example: "springMenu"
      content:
        type: array
        items:
          type: object
          properties:
            category:
              type: string
              example: "荤菜"
            dishes:
              type: array
              items:
                $ref: "#/definitions/Dish"
    required:
    - name

  Order:
    type: object
    properties:
      orderId:
        type: integer
        example: 4396
      tableId:
        type: string
        example: "23E"
      total:
        type: number
        format: float
        example: 108.3
      due:
        type: number
        format: float
        example: 92.3
      isPay:
        type: boolean
        example: true
      payWay:
        type: string
        example: alipay
      paydate:
        type: string
        format: date-time
        example: 2018-05-05T17:32:28Z
      dishes:
        type: array
        items:
          $ref: "#/definitions/Dish"
          